@{
    Layout = null;
}


<div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-11 col-md-11" style="text-align: center; color: #EBEBEB">
                <p style="padding-top: 5px;">&copy; 2014 г. Москва, 8-(968)-813-83-44</p>
                <p>Магазин натуральной тайской косметики</p>
                <p>Информация о нас содержится в разделе @Html.ActionLink("Контакты", "Contacts", "Account")</p>
            </div>
            @Html.Partial("_SocialPartial")
