@model Domain.Entities.User

<div>
@using (Ajax.BeginForm("ForgottenPassword", "Account", null, new AjaxOptions()
    {
        UpdateTargetId = "update-message4",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "updateSuccess4"
    }, new {@id = "updateEmailForm" }))
    {
        <fieldset>
            <legend>Отправка пароля</legend>
            <div id="update-message4" class="error invisible"></div>
            <p>@Html.LabelFor(x => x.Email) @Html.TextBoxFor(x => x.Email) @Html.ValidationMessageFor(x => x.Email)</p>
  
            <p>
                @Session["UserEmail"]
            </p>
            @*     <input type="submit" class="actionButtons" value="OK"/>*@
        </fieldset>
}

@*
<button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                <button class="btn btn-primary" id="sendButton">Войти</button>*@
                
                
@*@using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post, new
    {
        @class = "form-horizontal",
        Id = "updateEmailForm"
    }))*@
    
    </div>