@{
    ViewBag.Title = "HttpError500";
    Layout = null;
    ViewBag.Robots = "nofollow, noindex";   
}

<h2>500!</h2>
<p>Что-то с сервером пошло не так! В ближайшее время мы исправим эту проблему, а пока рекомендуем вернуться&nbsp; @Html.ActionLink("на главную", "List","Product") &nbsp;страницу</p>