/.vs/*
/Domain/bin
/Domain/obj
/WebUI/bin
/WebUI/obj
/WebUI/App_Data
/WebUI/Content/ProductImages/*.jpg
/WebUI/Content/ProductImages/*.png
/WebUI/Content/Galery
/WebUI/Content/CategoryMiniImages
/WebUI/Content/ArticleMiniImages
/WebUI/Content/NewsMiniImages
/UnitTest
/TestResults
*.ico
*.sql
*.txt
*.exe
*.vsp
*.psess