body {
}


#banner {
    /*display: none !important;*/
}


#header 
{
    height: 41px;
}

#registerlogon {
    height: 41px !important;
    overflow: hidden;
}


#registerlogon .btn-group a, #cartSummary, #cart {
    height: 41px !important;
}

ul.nav li {
    list-style: none outside none!important;
    
}

ul.navbar-nav .menus {
    padding-top: 0 !important;
    margin-top: 0 !important; 
}

.carousel-indicators li {
    display: inline-block;
    margin: auto;
}

#content {
    padding: 0 !important;
    /*display: none;*/
    margin-left: -15px !important;
    margin-right: -100px !important;
    
}

#banner {
    margin-left: 0px !important;
    margin-right: 0px !important;
    visibility: visible;
    display: block;
    height: 400px;
    
}

.nav .nav-menu {
    padding: 0;
    margin: 0;
}


.article-tape {
    padding: 0;
    margin: 0;
}

#categories {
    padding: 0 !important;
    margin: 0;
    margin-right: 20px !important;
}

.advertise-bar-left {
    padding: 0; 
}


 .product-grid .item {
     margin: 0 -8px 0 0 !important;
     padding: 0!important;
     
     /*width: 200px !important;*/
 }
 
 .grid-box .item-header {
     display: block !important;
     width: 215px;
     
 }
 
 .grid-box .item-header h3
 {
     float: left;
     display: block !important;
    /* width: 130px !important;*/
    
 }
 
 
 .grid-box, .grid-box .inner, .image {
     clear: both;
     padding: 0 !important;
     margin: 0 !important;
 }
 
 .grid-box .image {
     clear: both;
     padding: 0 !important;
     margin: 0 !important;
 }
 
 
 
 .quickview {
     display: none;
 }
 
 .grid-box .image,.product-slider ul li .image {
     
 }
 
 
 

DIV.item .item-header .container {
    padding: 0 !important; 
    height: 62px !important;    
    display: block!important;
    margin: 0!important;
    padding: 0!important;
    
    /*vertical-align: middle;
    text-align: center*/
}

DIV.item .item-header .container h3 {
  /*  width: 120px;*/
    display: inline !important;
}

.grid-box  {
    padding: 0;
    margin: 0;
   
}


.product-grid .item {
   /* float: none !important;*/
}


#subheader {
    
}

ul.menus  {
    display: block !important;
    width: 100% !important;
}

.menus li {
    display: block !important;
}

#social {
    display: none !important;
}

.nav > li > a  {
    /*display: block !important;
    padding: 0 !important;*/
    margin: 0 !important;
    border: none
}


.btn-group.display {
    display: none;
}

.breadcrumb li {
    display: inline !important;
}