@using MvcContrib.UI
@using MvcContrib.UI.Grid
@using WebUI.Infrastructure.ExtensionMethods
@*@model IEnumerable<Domain.Entities.Category>*@
@model WebUI.Models.PagedViewModel<Domain.Entities.SuperCategory>


   <style type="text/css">
    .grid-style {
        margin-left: 10px;
        margin-right: 0;
        
    }
</style>

<div id="sequence" class="">
@{
    Html.RenderPartial("Pager", Model.PagedList);
}



@using (Html.BeginForm("DeleteSuperCategory", "Admin", FormMethod.Post))
{
    @Html.Grid(Model.PagedList).Columns(column =>
{
            @*column.Custom(x => MvcHtmlString.Create(string.Format("<a href='{0}'><img class='example-image-link' src='{1}/{2}/{3}' alt='{4}'/></a>",
                                                                  Url.Action("EditSuperCategory", "Admin", new {superCategoryId = x.SuperCategoryID}),
                                                                  Url.Content("~/Content"),
                                                                  Domain.Constants.SUPER_CATEGORY_MINI_IMAGES_FOLDER,
                                                                  (string.IsNullOrWhiteSpace(x.ImageExt) == false || (System.IO.File.Exists(System.IO.Path.Combine(Server.MapPath
                                                                                                                                                                       (@Url.Content("~/Content")),
                                                                                                                                                                   Domain.Constants.SUPER_CATEGORY_MINI_IMAGES_FOLDER, x.SuperCategoryID.ToString() + x.ImageExt)))) != true ? "0.jpg" : x.SuperCategoryID + x.ImageExt,
                                                                  x.Name
                                                        ))).Named("Изображение").Sortable(false).InsertAt(0);*@
            
        column.Custom(x => MvcHtmlString.Create(string.Format("<img class='example-image-link' src='{0}/{1}/{2}' alt='{3}'/></a>",
                                                                  Url.Content("~/Content"),
                                                                  Domain.Constants.SUPER_CATEGORY_MINI_IMAGES_FOLDER,
                                                                  (string.IsNullOrWhiteSpace(x.ImageExt) == false || (System.IO.File.Exists(System.IO.Path.Combine(Server.MapPath
                                                                                                                                                                       (@Url.Content("~/Content")),
                                                                                                                                                                   Domain.Constants.SUPER_CATEGORY_MINI_IMAGES_FOLDER, x.SuperCategoryID.ToString() + x.ImageExt)))) != true ? "0.jpg" : x.SuperCategoryID + x.ImageExt,
                                                                  x.Name
                                                        ))).Named("Изображение").Sortable(false).InsertAt(0);

    column.For(x => x.Name).SortColumnName("Name").Named("Надкатегория").InsertAt(1);

    if (User.IsInRole("Admin"))
    {
          column.For(x => x.SuperCategoryID).SortColumnName("SuperCategoryID");
    }
    

           @* column.For(
                x => Html.Raw(Ajax.ActionLink(" ", "SuperCategorySequence", new {superCategoryId = x.SuperCategoryID, actionType = "Up"}, new AjaxOptions
                    {
                        UpdateTargetId = "sequence",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }, new {@class = "Up"}).ToString() + " " + (Ajax.ActionLink(" ", "SuperCategorySequence", new {superCategoryId = x.SuperCategoryID, actionType = "Down"}, new AjaxOptions
                        {
                            UpdateTargetId = "sequence",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST"
                        }, new {@class = "Down"}))).ToString()).Sortable(false).Named("Упорядочить").Encode(false);*@


    if (User.IsInRole("SEO")!=true)
    {
        column.For(
        x => Html.Raw(Ajax.ActionLink(" ", "SuperCategorySequence", new { superCategoryId = x.SuperCategoryID, actionType = "Up" }, new AjaxOptions
        {
            UpdateTargetId = "sequence",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnBegin = "gifLoaderBefore",
            OnSuccess = "gifLoaderAfter",
            OnFailure = "gifLoaderAfter",
            OnComplete = "gifLoaderAfter"
        }, new { @class = "glyphicon glyphicon-arrow-up btn btn-lg", @style = "color: #8EB50C;" }).ToString() + " " + (Ajax.ActionLink(" ", "SuperCategorySequence", new { superCategoryId = x.SuperCategoryID, actionType = "Down" }, new AjaxOptions
        {
            UpdateTargetId = "sequence",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnBegin = "gifLoaderBefore",
            OnSuccess = "gifLoaderAfter",
            OnFailure = "gifLoaderAfter",
            OnComplete = "gifLoaderAfter"
        }, new { @class = "glyphicon glyphicon-arrow-down btn btn-lg", @style = "color: #8EB50C;" }))).ToString()).Sortable(false).Named("Упорядочить").Encode(false);
    }

    column.Custom(x => Html.Raw("<a href = " + Url.Action("EditSuperCategory", "Admin", new { superCategoryId = x.SuperCategoryID }) + " class='glyphicon glyphicon-edit btn-xs btn btn-default' title='Редактировать'></a>")).Header(o => "<span class='glyphicon glyphicon-edit'> </span>").Encode(false)
                                   .Sortable(false);

    if (User.IsInRole("Admin") || (User.IsInRole("ContentManager")))
    {
        column.Custom(x => Html.Raw("<a href = " + Url.Action("DeleteSuperCategory", "Admin", new {superCategoryId = x.SuperCategoryID}) + " class='linkButton glyphicon glyphicon-remove btn-xs btn btn-danger' title='Удалить'></a>")).Named("Options").Header(o => "<span class='glyphicon glyphicon-remove'> </span>").Encode(false)
              .Sortable(false);
    }

 @*column.Custom(x => MvcHtmlString.Create(string.Format("<form action='/Admin/DeleteSuperCategory' method='post'> <input id='superCategoryId' name='superCategoryId' type='hidden' value='{0}' /><input type='submit' value='Удалить' /></form>", x.SuperCategoryID)))
          .Named("Действие").Sortable(false);*@
}).Sort(Model.GridSortOptions).Attributes(@class => "table table-striped table-bordered table-hover table-condensed grid-style", @style => "margin-left:0;").Empty("Нет данных")

}
</div>





            
<script type="text/javascript">
    $(function () {
        $(".linkButton").click(
            function (event) {
                if (!confirm('Вы уверены, что хотите удалить выбранную запись?')) return false;
                event.preventDefault();
                var link = event.target;
                var action = link.href;
                while (link.tagName != 'FORM') {
                    alert(link.tagName);
                    link = link.parentElement;
                    //alert(link);
                    if (!link) {
                        //return alert('TROUBLE');
                        break;
                    }
                }
               
                link.action = action;
                link.method = "POST";
                link.submit();
            });
    });

</script>

@*
  <script type="text/javascript">

      $(document).ready(function () {
          $("td").css({"vertical-align": "middle"});
      });
  </script>   
  *@