

    @*@{
        Html.RenderAction("NewsTape", "News");
     }*@
   
    <div id="newsContent">
           <noscript>
            @{
        Html.RenderAction("NewsTape", "News");
     }
        </noscript>
    </div>

    
    
