<div id="addition-left" class="col-md-12 visible-md visible-lg" style="background: #DCDBD9 !important">
    <h4 class="newsHeader">Тут будут ништяки</h4>
    @*<div>Тут будет текст, а возможно и изображения</div>*@
    <div><a href="@Url.Action("Contacts","Account")" rel="nofollow"><img src="@(Url.Content("~/Content/Banner/carousel-1.jpg"))" alt="Реклама"
              class="img-responsive" 
              style="-webkit-border-radius: 0px 0 14px 0; 
                                                                                                                                                            -moz-border-radius: 0px 0 14px 0; 
                                                                                                                                                            -ms-border-radius: 0px 0 14px 0; 
                                                                                                                                                            -o-border-radius: 0px 0 14px 0; 
                                                                                                                                                            border-radius: 0px 0 14px 0;
                                                                                                                                                            margin: 0;
                                                                                                                                                            padding: 0;
                                                                                                                                                            zoom:1"/>
    </a>
    </div>
    </div>
