<div id="addition-right" class="container col-md-12 visible-md visible-lg" style="background: #A27944">
                <h4 class="newsHeader">Заголовок</h4>
                <div><a href="@Url.Action("Contacts","Account")" rel="nofollow, noindex"><img src="@(Url.Content("~/Content/Banner/banner-mid-left-3.png"))" alt="Реклама"
              class="img-responsive" 
              style="-webkit-border-radius: 0px 0 14px 0; 
                                                                                                                                                            -moz-border-radius: 0px 0 14px 0; 
                                                                                                                                                            -ms-border-radius: 0px 0 14px 0; 
                                                                                                                                                            -o-border-radius: 0px 0 14px 0; 
                                                                                                                                                            border-radius: 0px 0 14px 0;
                                                                                                                                                            margin: 0;
                                                                                                                                                            padding: 0;
                                                                                                                                                            zoom:1"/>
    </a>
    </div>
            </div>