<div id="openCloseIdentifier"></div>
<div id="social" class="visible-lg visible-md visible-sm" style="">
    <div id="social-tab">
        <a href="javascript:void(0);" class="btn-slide ie6" title="Connect With Us">
            Присоединяйтесь!<span class="fa fa-plus-circle"></span>
        </a>
    </div><!-- #social-tab (end) -->
            @*<div class="clear"></div>*@
    <div id="social-content" class="ie6">
        <ul>
            <li><a href="#" id="rss2" class="ie6"><i class="fa fa-rss-square fa-3x" style="color: orange; "></i></a></li>
            <li><a href="#" id="fb" class="ie6" title="Мы на фейсбуке"><i class="fa fa-facebook-square fa-3x" style="color: #4E6FAA; "></i></a></li>
            <li><a href="http://vk.com/tropicanagreat" id="vk" class="ie6" title="Группа в контакте"><i class="fa fa-vk fa-3x" style="color: #587A9E; "></i></a></li>
            <li><a href="#" id="yt" class="ie6" title="Наше видео на Youtube.com"><i class="fa fa-youtube-square fa-3x" style="color: crimson"></i></a></li>
            <li><a href="#" id="tw" class="ie6"><i class="fa fa-twitter-square fa-3x" style="color: aqua"></i></a></li>
            <li><a href="#" id="sk" class="ie6" title="Мы в скайпе"><i class="fa fa-skype fa-3x" style="color: darkturquoise"></i></a></li>
            @*<li><a href="#" id="rss" class="ie6">RSS</a></li>
            <li><a href="#" id="facebook" class="ie6">Facebook</a></li>
            <li><a href="#" id="twitter" class="ie6">Twitter</a></li>
            <li><a href="#" id="flickr" class="ie6">Flickr</a></li>
         @*   <li><a href="#" id="linkedin" class="ie6">Linked in</a></li>
            <li><a href="#" id="myspace" class="ie6">MySpace</a></li>
            <li><a href="#" id="youtube" class="ie6">Facebook</a></li>
            <li><a href="#" id="digg" class="ie6">Digg</a></li>*@
        </ul>
    </div><!-- #social-content (end) -->
                
    
                
    
                
</div>




