<?xml version="1.0" ?>
<!--<nlog autoReload="true" throwExceptions="true" internalLogFile="${basedir}/App_Data/nlog.txt" internalLogLevel="Debug"
      internalLogToConsole="true">

  <targets>
    
    <target name="consolelog" type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="filelog" type="File" fileName="${basedir}/App_Data/Site.log"
     layout="${date}: ${message}" />

    <target name="eventlog" type="EventLog" source="My App" log="Application"
     layout="${date}: ${message} ${stacktrace}" />

    <target name="databaselog" type="Database">

      <dbProvider>sqlserver</dbProvider>

    
      <connectionString>data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|SampleDatabase.mdf;Integrated Security=True;User Instance=True</connectionString>    

      <commandText>
        insert into NLog_Error ([time_stamp],[level],[host],[type],[source],[logger],[message],[stacktrace],[allxml]) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace,@allxml);
      </commandText>

      <parameter name="@time_stamp" layout="${utc_date}" />
      <parameter name="@level" layout="${level}" />      
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@allxml" layout="${web_variables}" />

    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="filelog" />
    <logger name="*" minlevel="Info" writeTo="databaselog" />
  </rules>

</nlog>-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="C://file.txt" keepFileOpen="true"/>
    <target name="databaselog" type="Database">

      <dbProvider>sqlserver</dbProvider>

      
      <!--<connectionString>data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|SampleDatabase.mdf;Integrated Security=True;User Instance=True</connectionString>-->
      <connectionString>data source=127.0.0.1,1433;Initial Catalog=SportStore;Persist Security Info=true;User ID=socialnetwork;Password =socialnetwork;</connectionString>
      <!-- <connectionString>data source=GRAF-PC\DIAMOND;Initial Catalog=SportStore;Persist Security Info=true;User ID=socialnetwork;Password=socialnetwork;</connectionString>-->
      


      <commandText>
        insert into NLog_Error ([time_stamp],[level],[host],[type],[source],[logger],[message],[stacktrace],[allxml]) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace,@allxml);
      </commandText>

    <!--  <parameter name="@time_stamp" layout="${utc_date}" />-->
      <parameter name="@time_stamp" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${event-context:item=Code}" />
      <!--layout="${aspnet-request:serverVariable=Url}" />  -->
                 <!--"${identity}" />-->
        <!--"${exception:stacktrace}" />-->
     <!-- <parameter name="@allxml" layout="${web_variables}" />-->
    </target>>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  <!--  <logger name="*" minlevel="Info" writeTo="filelog" />-->
    <logger name="*" minlevel="Info" writeTo="databaselog" />
  </rules>
</nlog>