 @model Domain.Entities.Article

<div class="panel-body random-article-header" style="background-color: #0098CA;color: white;">Случайная статья</div>

<div class="panel-body article-tape-item" style="">
    <a href="@Url.Action("Article","Article", new {shortLink=@Model.ShortLink})">
                    
        <h3>@Model.Header</h3>
               
        <p>@Model.ArticlePreview</p>
                
    </a>
</div>


